<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Title</title>
  <link rel="stylesheet" href="./foundation-emails.css" />
</head>

<body>
  <!-- <style> -->
  <table class="body" data-made-with-foundation>
    <tr>
      <td class="float-center" align="center" valign="top">
        <center>
          <container class="wrapper">
            <spacer size="20"></spacer>
            <row style="padding-left: 20px; padding-right: 20px">
              <img class="logo" src="" alt="Logo">
            </row>
            <spacer size="20"></spacer>
            <row>
              <columns lagre="10">
                <hr class="separator"/>
              </columns>
            </row>
            <row>
              <p class="title"><b>Ваше селфи</b></p>
            </row>
            <row>
              <p class="adress">Вы сделали фото на Городском Смартфоне в {{ adress }} {{ date }} года:</p>
            </row>
            <spacer size="20"></spacer>
            <row>
              <center>
                  <img class="selpfie" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb9WafczAdkYhNTsk9vNPs9GrxWwJtcdV5lZ_2fnNrcMcQ_xRd" alt="selpfie">
              </center>
            </row>
            <spacer size="30"></spacer>
            <row>
              <center>
                <a class="button" href="{{ link }}">Скачать фотографию</a>
              </center>
            </row>
            <spacer size="40"></spacer>
          </container>
          <spacer size="20"></spacer>
          <container class="footer">
            <row>
              <columns class="left-column" large="8">
                <container style="background-color: transparent">
                  <row>
                    <p>Служба поддержки</p>
                  </row>
                  <row>
                    <a href="tel:88005507250" target="_blank" value="+78005507250">8 (800) 550-72-50</a>
                  </row>
                  <row>
                    <a href="mailto:help@timilink.ru" target="_blank">help@timilink.ru</a>
                  </row>
                </container>
              </columns>
              <columns class="right-column" large="4">
                <row>
                  <p style="text-align: right">Присоединяйтесь</p>
                </row>
                <row>
                  <a href="https://vk.com/timilink"><img src="" alt="vk" class="social-icon"></a>
                  <a href="https://www.facebook.com/timilink"><img src="" alt="fb" class="social-icon"></a>
                  <a href="https://twitter.com/timilink"><img src="" alt="ok" class="social-icon"></a>
                  <a href="https://ok.ru/timilink"><img src="" alt="tw" class="social-icon"></a>
                </row>
              </columns>
            </row>
          </container>
        </center>
      </td>
    </tr>
  </table>
</body>
</html>
